{% extends "user/base.html" %}

{% block head %}
{{super()}}
<title>用户认证</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link href="{{ url_for('static',filename='img/icon.jpg') }}" rel="shortcut icon"  type="image/x-icon">
    <style>
    body{
        background-color:#F4F4F4;
    }
    </style>
{% endblock %}

{% block page_content %}
<h1>亲爱的用户,{{current_user.username}}!</h1>
<h3>您还没有确认您的账户</h3>
<p>
    为了更好的使用我们的网站，您需要确认您的账号，
    <a href="{{url_for('user.resend_confirmation')}}">点击这里</a>
    我们将再次给您发送一封确认邮件，24小时候后即将失效，请您尽快前往邮箱进行确认。
</p>
{% endblock page_content %}