<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link href="{{ url_for('static',filename='bootstrap/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='img/icon.jpg') }}" rel="shortcut icon" type="image/x-icon">
    <style>
    body{
        background-color:#F4F4F4;
    }
    #navigator{
        background-image:url('/static/img/navigator_background.jpg');
    }
    #website_content{
        background-color:#fff;
        height:700px;
    }


    </style>
    <title>完善用户资料</title>
</head>
<body>
<!--此div是网站的导航栏-->
<div class="container-fluid" id="navigator">
    <div class="row clearfix">
        <div class="col-md-2"></div>
        <div class="col-md-10 column">
            <div>
                <br>
                <div class="col-sm-9">
                    <h1><b>如艺剧本</b></h1>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
<br><br>
<!--此div是网站的主体部分-->
<div class="container" id="website_content">
    <div class="row clearfix">
        <div class="col-md-2"></div>
        <!--表单部分-->
        <div class="col-md-8">
            <br><br>
            <h3 class="text-center">
                完善基本资料
            </h3><br/><br>
            <form class="form-horizontal" role="form" id="userInfoCompleteForm" method="post"
                  action="{{url_for('user.user_info_complete')}}">
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">邮箱：</label>
                    <div class="col-sm-7">
                        <input type="text" name="email" id="email" class="form-control"
                               placeholder="{{current_user.email}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">用户名：</label>
                    <div class="col-sm-7">
                        <input type="username" name="username" id="username" class="form-control"
                               placeholder="{{current_user.username}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-3 control-label">性别：</label>
                    <div class="col-sm-7">
                        <label>
                            <input type="radio" name="gender" id="gender" value="男" checked>男
                        </label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <label>
                            <input type="radio" name="gender" value="女">女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">手机号：</label>
                    <div class="col-sm-7">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="">
                    </div>
                </div>
                <!--用户选择自己的角色，value为角色的ID-->
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">角色：</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="fk_role">
                            <option value="2">编剧</option>
                            <option value="3">导演</option>
                            <option value="4">制片人</option>
                            <option value="5">演员</option>
                            <option value="7">剧务</option>
                            <option value="8">照明</option>
                            <option value="9">音乐</option>
                            <option value="10">特效</option>
                            <option value="11">其他</option>
                        </select>
                    </div>
                </div>

                <!--用户选择所在的公司，value值为公司的ID-->
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">所属公司：</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="fk_company_id">
                            <option value="1">中传如艺</option>
                            <option value="2">金田影金所</option>
                            <option value="3">华谊</option>
                            <option value="4">唐人</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-sm-3">
                    </span>
                    <span class="col-sm-7">
                        <input type="submit" class="btn btn-primary btn-block" value="提交资料">
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>