<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link href="{{ url_for('static',filename='bootstrap/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='img/icon.jpg') }}" rel="shortcut icon"  type="image/x-icon">
    <style>
    body{
        background-color:#F4F4F4;
    }
    </style>
    <title>用户登录</title>
</head>
<body>
    普通用户首次登录页面
</body>
</html>