* {
	padding: 0;
	margin: 0;
}

input {
	text-overflow: ellipsis;
}

col-md-4 {
	height: 370px;
}

.btn-default {
	background-color: #bababa;
	border-color: #bababa;
}

.public {
	margin-top: 6px;
}

.btn-default .active {
	background-color: #18a689;
	border-color: #18a689;
}

#btn-multiItem {
	display: none;
}

#upAndDown {
	height: 15px;
}

.subject {
	margin-top: 0px;
	position: relative;
	width: 150px;
	height: 60px;
}

.dropdown-subjectMenu {
	list-style: none;
	position: absolute;
	background: #fff;
	top: 58px;
	display: none;
}

.subject ul {
	overflow: hide;
	overflow-y: scroll;
	height: 105px;
}

.subject li {
	float: left;
	margin-left: 20px;
}

.subject .dropdown-toggle {
	display: inline-block;
	position: relative;
	top: -34px;
	left: 116px;
}

.label {
	position: relative;
	background: #f8fafb;
	overflow: hidden;
	width: 100%;
}

.label input {
	width: 200px;
	float: left;
	margin-right: 25px;
	margin-top: 5px;
}

.proTime .up,
.proTime .down {
	position: relative;
	width: 0px;
	height: 0px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.proTime .down {
	left: 116px;
	top: -10px;
	border-top: 6px solid #bababa;
}

.proTime .up {
	left: 128px;
	top: -43px;
	border-bottom: 6px solid #bababa;
}

.proTime .up,
.proTime .down:hover {
	cursor: pointer;
}

.subject-title {
	border-color: #f8ac59;
}

.product-imitation {
	width: 388px;
	height: 240px;
	overflow: hidden
}